---

- name: Enable Mongo database (Required for the web interface)
  become: True
  ini_file:
    dest: '{{ cuckoo_root }}/conf/reporting.conf'
    section: 'mongodb'
    option: 'enabled'
    value: 'yes'
  notify: restart cuckoo
  when: cuckoo_enable_web_interface
  
- name: Set cuckoo machinery
  become: True
  ini_file:
    dest: '{{ cuckoo_root }}/conf/cuckoo.conf'
    section: 'cuckoo'
    option: 'machinery'
    value: '{{ cuckoo_machinery }}'
  notify: restart cuckoo

# Get ip address of the interface specified in the variable cuckoo_interface
# This ip will be used for the resultserver ip field in cuckoo.conf
- name: Get ip address of the interface specified in the variable cuckoo_interface
  shell: ip -f inet -o addr show {{ cuckoo_interface }} |cut -d ' ' -f 7 | cut -d/ -f 1
  register: tmp

- set_fact: 
    cuckoo_interface_ip: '{{ tmp.stdout }}'
  
- debug:
    var: cuckoo_interface_ip

- name: Set resultserver ip field in cuckoo.conf
  become: True
  ini_file:
    dest: '{{ cuckoo_root }}/conf/cuckoo.conf'
    section: 'resultserver'
    option: 'ip'
    value: '{{ cuckoo_interface_ip }}'
  notify: restart cuckoo

- name: Install Cuckoo systemd service
  template: src=cuckoo.service.j2 dest=/etc/systemd/system/cuckoo.service owner=root group=root mode=0644
  notify: restart cuckoo
  become: True