[Unit]
Description=Main Cuckoo service wrapper
After=network.target mongod.service{% if cuckoo_enable_distributed %} mysql.service{% endif %}{% if cuckoo_machinery=='kvm' %} libvirtd.service{% endif %}

[Service]
User=cuckoo
Group=cuckoo
ExecStart=/usr/local/bin/cuckoo --debug
WorkingDirectory={{ cuckoo_root }}

[Install]
WantedBy=multi-user.target
