[Unit]
Description=Main Cuckoo service wrapper
After=network.target mysql.service mongod.service libvirtd.service

[Service]
User=cuckoo
Group=cuckoo
ExecStart=/usr/bin/python2.7 cuckoo.py --debug
WorkingDirectory={{ cuckoo_root }}

[Install]
WantedBy=multi-user.target
