[Unit]
Description=Main Cuckoo service wrapper
After=network.target mysql.service

[Service]
User=cuckoo
Group=cuckoo
ExecStart=/usr/local/bin/cuckoo --debug
WorkingDirectory={{ cuckoo_root }}

[Install]
WantedBy=multi-user.target
