[Unit]
Description=Cuckoo web service
After=cuckoo.service

[Service]
User=cuckoo
Group=cuckoo
ExecStart=/usr/local/bin/cuckoo  web runserver 0.0.0.0:8000
WorkingDirectory={{ cuckoo_root }}/web

[Install]
WantedBy=multi-user.target
